Package: com.lacertosusrepo.libdeusprefs
Name: libDeusPrefs
Depends: preferenceloader
Version: 1.0.3
Architecture: iphoneos-arm
Description: Support library for my preferences...
Maintainer: LacertosusDeus <LacertosusThemes@gmail.com>
Author: LacertosusDeus <LacertosusThemes@gmail.com>
Section: Development
